* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

/* UTILITIES */
.container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #255ee9;
}

.container .row {
    background-color: #255ee9;
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
}

.border {
    border: 2px dashed black;
}

.col {
    display: flex;
    width: 20%;
    padding-top: 10px;
}

.row .center {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content-menu {
    display: flex;
    text-align: center;
    vertical-align: middle;
    font-size: 17px;
    justify-content: space-around;
}

.content-menu a {
    display: flex;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
}

#login {
    display: flex;
    justify-content: right;
    align-items: center;
}

.btn{
    display: flex;
    background-color: #fff;
    border-radius: 40px;
    font-size: 14px;
    padding: 10px 16px;
}

.btn a{
    text-decoration: none;
    color: #000;
 }

.space-btw {
    justify-content: space-between;
}

/* END UTILITIES */

/* STYLE HEADER ROW2 */
    .row2 {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-image: url(../img/jumbo.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 100px;
    }
    
    .col2 {
        display: flex;
        width: calc(100% / 2);
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 20px;
    }

    .col2 .content{
        display: block;
        color: white;
        padding: 20px;
        text-align: center;
    }

    .content h1{
        font-size: 60px;
        font-weight: 700;
        padding: 60px;
    }

    .content p {
        vertical-align: middle;
        font-size: 20px;
        line-height: 1.8em;
        padding: 22px 0;
    }
/* formattazione bottone dwn mac */
    .btn-download{
        display: inline-block;
        width: auto;
        background-color: #fff;
        border-radius: 40px;
        font-size: 20px;
        padding: 20px 40px;
        margin-top: 100px;
    }
    
    .btn-download a{
        text-decoration: none;
        color: #000;
     }

     .arrow {
        max-width: 30px;
        margin-right: 15px;
        vertical-align: middle;
     }

/* fine formattazione bottone dwn mac */

/* formattazione bottone browser */
     .btn-browser{
        display: inline-block;
        width: fit-content;
        background-color: #000;
        border-radius: 40px;
        font-size: 20px;
        padding: 20px 40px;
        margin-top: 20px;
        margin-left: 40px;
    }
    
    .btn-browser a{
        text-decoration: none;
        color: #fff;
     }
/* fine formattazione bottone browser */

/* FINE STYLE HEADER ROW2 */

/* STYLE MAIN */

/* STYLE ROW1 */
.container-main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row-main {
    display: flex;
    width: 70%;
}

.col-70 {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
}

.col-70 img {
    width: 100%;
    padding: 100px 20px;
}

.col-30 {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;
}

.col-30 h2{
    font-size: 40px;
    font-weight: 800;
    margin-top: 10px;
    padding-bottom: 30px;
}

.col-30 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}
/* FINE STYLE ROW1 */

/* STYLE ROW 2 */

.grey{
    background-color: rgba(0,0,0,0.1);
}
#row2-main {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* FINE STYLE ROW 2*/

/* STYLE ROW 4 */


/* IMMAGINE SFONDO GRIGIO SEZIONI */
.bggrey {
    width: 100%;
    opacity: 0.1;
    display: flex;
}

#rev {
    scale: -1;
}
/* FINE IMMAGINE SFONDO GRIGIO SEZIONI */

#cont4-main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.1);
}

.row-main4 {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
}

/* INIZIO STYLE CONTENUTO */
.col-big {
    width: 100%;
    text-align: center;
    margin: 100px 0px;
}

.cont {
    margin: 100px 0px;
}

.cont h2{
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    padding-bottom: 30px;
}

.cont p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 23px;
    text-align: center;
    padding: 0 90px;
}

.cont img {
    width: 100%;
    margin: 0 auto;
}

#img-star{
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 40%;
    padding-top: 30px;
    margin: 0 auto;
    font-size: 30px;
}

.btn-download2 {
    width: 100%;
    text-align: center;
    margin: 60px 0;
}

.btn-download2 #dw2{
    width: fit-content;
    background-color: #8ea1e1;
    border-radius: 40px;
    font-size: 20px;
    padding: 10px 15px;
    align-items: center;
    text-decoration: none;
    color: #fff;
 }
/* FINE STYLE CONTENUTO */
/* FINE STYLE ROW 4*/

/* FINE STYLE MAIN */

/* INIZIO STYLE FOOTER */
.container-footer {
    width: 100%;
    background-color: #23272a;
    justify-content: center;
    align-items: center;
    
}

/* INIZIO STYLE ROW 1 */
    .row-footer1 {
        display: flex;
        width: 70%;
        padding-top: 70px;
        margin: 0 auto;
    }
/* FINE STYLE ROW 1 */

/* INIZIO STYLE COL-FOOT 1 */
    .col-foot1 {
        display: flex;
        width: 30%;
    }
/* FINE STYLE COL-FOOT 1 */

/* INIZIO STYLE COL-FOOT 2 */
    .col-foot2 {
        display: flex;
        width: 20%;
        padding-bottom: 4px;
    }
/* FINE STYLE COL-FOOT 2 */

hr {
    margin: 20px;
    color: #3e4969;
}

/* INIZIO STYLE ROWFOOTER 2 */
    .row-footer2 {
        display: flex;
        height: 80px;
        width: 70%;
        margin: 0 auto;
        align-content: center;
    }

    .col-logo {
        display: flex;
        width: auto;
        justify-items: flex-start;
        align-self: center;
    }

    .col-reg {
        display: flex;
        width: auto;
        justify-items: flex-end;
        align-self: center;
    }

    .row-footer2 *.content{
        display: flex;
    }
/* INIZIO STYLE ROWFOOTER 2 */

.btn-reg{
    display: flex;
    background-color: #8ea1e1;
    border-radius: 40px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;  
}

.btn-reg a{
    text-decoration: none;
    color: #fff;
 }

.col-foot1 .icons{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: flex-start;
}

.col-foot1 .icons i{
    display: flex;
    margin-top: 40px;
    color:#ffffff;
    width: 32px;
    height: 32px;
 }

 .descr h2 {
    color: #7289d9;
    font-size: 35px;
    font-weight: 700;
    padding-right: 30%;
    margin-bottom: 20px;
 }

 .descr #ita {
    margin-top: 20px;
    width: 40px;
    height: 30px;
    vertical-align: middle;
 }

.descr span {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    vertical-align: middle;
}

ul {
    list-style-type: none;
}

.list .titlefoot {
    color: #7289d9;
    font-size: medium;
    font-weight: 800;
    padding-bottom: 5px;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: small;
    font-weight: 400;
    padding: 8px 0;
}
/* FINE STYLE FOOTER */